.Portfolio {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 25px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
margin-top: 50px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 100px;
}
//extra large
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 100px;
}



.portfolio-card {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 2rem;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .portfolio-card { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1024px) {
  .portfolio-card { grid-template-columns: repeat(3, 1fr); }
}


.portfolio-h2 {
width: 245px;
height: 64px;
font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 100%;
text-transform: uppercase;
color: #FFFFFF; 
text-align: center;
}

