.ContactMe {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: var(--color-bg);

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
background-color: var(--color-bg);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: var(--color-bg);
}
//extra large
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 100px;
background-color: var(--color-bg);
}


.contact-row {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 25px;
margin-bottom: 25px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
margin-top: 50px;
margin-bottom: 50px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-top: 100px;
margin-bottom: 100px;
}
//extra large
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-top: 100px;
margin-bottom: 100px;
}


.contact-text {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
width: 400px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
width: 400px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
width: 400px;
}
//extra large
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
width: 400px;
}



.contact-h3 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
text-align: center;
color: var(--color-text);
font-family: 'Orbitron', sans-serif;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
text-align: center;
color: var(--color-text);
font-family: 'Orbitron', sans-serif;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
text-align: center;
color: var(--color-text);
font-family: 'Orbitron', sans-serif;
}
//extra large
text-align: center;
color: var(--color-text);
font-family: 'Orbitron', sans-serif;
}



.contact-p {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
text-align: center;
font-family: 'Space Mono', monospace;
color: var(--color-text);
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
text-align: center;
font-family: 'Space Mono', monospace;
color: var(--color-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
text-align: center;
font-family: 'Space Mono', monospace;
color: var(--color-text);
}
//extra large
text-align: center;
font-family: 'Space Mono', monospace;
color: var(--color-text);
}

  

.contact-button {
@media screen and (min-width: 320px) and (max-width: 480px) {
display: flex;
justify-content: center;
align-items: center;
padding: 16px 24px 16px 32px;
width: 200px;
height: 52px;
background: #292929;
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 100%;
display: flex;
align-items: center;
letter-spacing: -0.05em;        
color: var(--color-text);
text-decoration: none;
border-radius: 5px;
background-image: linear-gradient(to right top, #c165dd, #b253e4, #9f43eb, #8433f4, #5c27fe);
}
@media screen and (min-width: 481px) and (max-width: 768px) {
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 24px 16px 32px;
gap: 8px;
width: 200px;
height: 52px;
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: -0.05em;
color: var(--color-text);
text-decoration: none;
border-radius: 5px;
background-image: linear-gradient(to right top, #c165dd, #b253e4, #9f43eb, #8433f4, #5c27fe);
}
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 16px 24px 16px 32px;
gap: 8px;
width: 200px;
height: 52px;
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: -0.05em;
color: var(--color-text);
text-decoration: none;
border-radius: 5px;
background-image: linear-gradient(to right top, #c165dd, #b253e4, #9f43eb, #8433f4, #5c27fe);
}

.contact-image {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 200px;

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 200px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 200px;
}
//extra large
width: 200px;
}