.Portfolio {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 25px;
background: #F2F7FB;
border-radius: 30px;
width: 500px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
margin-top: 50px;
background: #F2F7FB;
border-radius: 30px;
width: 1000px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 100px;
background: #F2F7FB;
border-radius: 30px;
width: 1000px;
}
//extra large
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 100px;
background: #F2F7FB;
border-radius: 30px;
width: 1200px;
}



.portfolio-h2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 90%;
display: flex;
align-items: center;
justify-content: center;
color: var(--color-portfolio-text);
text-transform: uppercase;
text-align: center;
line-height: 40px;
margin-bottom: 10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 90%;
display: flex;
align-items: center;
justify-content: center;
color: var(--color-portfolio-text);
margin-bottom: 40px;
text-transform: uppercase;
text-align: center;
margin-top: 70px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 90%;
display: flex;
align-items: center;
justify-content: center;
color: var(--color-portfolio-text);
text-transform: uppercase;
text-align: center;
line-height: 120px;
margin-top: 50px;
}
//extra large
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 90%;
display: flex;
align-items: center;
justify-content: center;
color: var(--color-portfolio-text);
text-transform: uppercase;
text-align: center;
line-height: 120px;
margin-top: 50px;
}



.portfolio-card {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
margin-bottom: 200px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
margin-bottom: 200px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 200px;
}
//extra large
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 940px;
height: 450px;
margin-bottom: 0px;
}


.PortfolioImage-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 350px;
height: 350px;
background: #000;
border-radius: 20px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 450px;
height: 350px;
background: #000;
border-radius: 20px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 450px;
height: 350px;
background: #000;
border-radius: 20px;
}
//extra large
width: 450px;
height: 350px;
background: #000;
border-radius: 20px;
position: relative;
overflow: hidden;
}


.PortfolioImage {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 500px;
height: 500px;
position: absolute;
left: 90px;
top: 10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 500px;
height: 500px;
position: absolute;
left: 90px;
top: -50px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 500px;
height: 500px;
position: absolute;
left: 90px;
top: -50px;
}
//extra large
width: 500px;
height: 500px;
position: absolute;
left: 90px;
top: 10px;
}


.portfolio-card-body {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 350px;
height: 180.36px;
margin-left: 20px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 390px;
height: 180.36px;
margin-left: 20px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 390px;
height: 180.36px;
margin-left: 40px;
}
//extra large
width: 390px;
height: 180.36px;
margin-left: 40px;
}


.card-text-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: row;
position: relative;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: row;
position: relative;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: row;
position: relative;
}
//extra large
display: flex;
flex-direction: row;
position: relative;
}



.portfolio-h3 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 300px;
height: 31px;
left: 0px;
top: 0.33px;
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 31px;
display: flex;
align-items: center;
text-transform: capitalize;
color: var(--color-portfolio-text);
margin-top: 25px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 332px;
height: 31px;
left: 0px;
top: 0.33px;
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 27.8px;
line-height: 31px;
display: flex;
align-items: center;
text-transform: capitalize;
color: var(--color-portfolio-text);
margin-top: 25px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 332px;
height: 31px;
left: 0px;
top: 0.33px;
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 27.8px;
line-height: 31px;
display: flex;
align-items: center;
text-transform: capitalize;
color: var(--color-portfolio-text);
margin-top: 25px;
}
//extra large
width: 332px;
height: 31px;
left: 0px;
top: 0.33px;
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 27.8px;
line-height: 31px;
display: flex;
align-items: center;
text-transform: capitalize;
color: var(--color-portfolio-text);
margin-top: -50px;
}

.arrow-icon {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-size: 20px;
font-weight: 500;
color: #000;
position: absolute;
left: 130px;
top: 30px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-size: 30px;
font-weight: 500;
color: #000;
position: absolute;
left: 190px;
top: 25px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-size: 30px;
font-weight: 500;
color: #000;
position: absolute;
left: 190px;
top: 25px;
}
//extra large
font-size: 30px;
font-weight: 500;
color: #000;
position: absolute;
left: 190px;
top: -50px;
}



.portfolio-p {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 350px;
height: 31px;
left: 0px;
top: 0.33px;
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-align: left;
text-transform: capitalize;
color: var(--color-portfolio-text);
margin-top: 40px;
margin-bottom: 60px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 332px;
height: 31px;
left: 0px;
top: 0.33px;
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-transform: capitalize;
color: var(--color-portfolio-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 332px;
height: 31px;
left: 0px;
top: 0.33px;
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-transform: capitalize;
color: var(--color-portfolio-text);
}
//extra large
width: 332px;
height: 31px;
left: 0px;
top: 0.33px;
font-family: 'Space Mono', monospace;
font-style: normal;
font-size: 16px;
line-height: 25px;
display: flex;
align-items: center;
text-transform: capitalize;
margin-top: 40px;
margin-bottom: 80px;
color: var(--color-portfolio-text);
}


.card-button-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0.218994px 1.46875px 5.78101px 0px;
gap: 6px;
width: 390px;
height: 42.89px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0.218994px 1.46875px 5.78101px 0px;
gap: 6px;
width: 390px;
height: 42.89px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0.218994px 1.46875px 5.78101px 0px;
gap: 6px;
width: 390px;
height: 42.89px;
}
//extra large
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0.218994px 1.46875px 5.78101px 0px;
gap: 6px;
width: 390px;
height: 42.89px;
}



.work-icon {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
box-sizing: border-box;
display: flex;
align-items: center;
border: 1px solid #fff;
border-radius: 50%;
background: #000;
color: #fff;
font-size: 25px;
padding: 10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
box-sizing: border-box;
display: flex;
align-items: center;
border: 1px solid #fff;
border-radius: 50%;
background: #000;
color: #fff;
font-size: 50px;
padding: 10px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
box-sizing: border-box;
display: flex;
align-items: center;
border: 1px solid #fff;
border-radius: 50%;
background: #000;
color: #fff;
font-size: 50px;
padding: 10px;
}
//extra large
box-sizing: border-box;
display: flex;
align-items: center;
border: 1px solid #fff;
border-radius: 50%;
background: #000;
color: #fff;
font-size: 50px;
padding: 10px;
}



/****  PORTFOLIO CARD 2  ****/


.portfolio-card2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
margin-bottom: 200px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
margin-bottom: 200px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 200px;
}
//extra large
display: flex;
flex-direction: row-reverse;
align-items: center;
justify-content: center;
width: 940px;
height: 450px;
margin-bottom: 0px;
}


.PortfolioImage-cont2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 350px;
height: 350px;
background: #000;
border-radius: 20px;
position: relative;
overflow: hidden;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 450px;
height: 250px;
background: #000;
border-radius: 20px;
position: relative;
overflow: hidden;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 450px;
height: 350px;
background: #000;
border-radius: 20px;
position: relative;
overflow: hidden;
}
//extra large
width: 450px;
height: 350px;
background: #000;
border-radius: 20px;
position: relative;
overflow: hidden;
}


.PortfolioImage2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 500px;
height: 500px;
position: absolute;
right: 90px;
top: -30px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 500px;
height: 500px;
position: absolute;
right: 90px;
top: -50px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 500px;
height: 500px;
position: absolute;
right: 90px;
top: -50px;
}
//extra large
width: 500px;
height: 500px;
position: absolute;
right: 90px;
top: 10px;
}


.portfolio-card-body2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 350px;
height: 180.36px;
margin-left: 20px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 390px;
height: 180.36px;
margin-left: 20px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 390px;
height: 180.36px;
margin-left: 20px;
}
//extra large
width: 390px;
height: 180.36px;
margin-left: 40px;
}


.card-text-cont2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: row;
position: relative;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: row;
position: relative;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: row;
position: relative;
}
//extra large
display: flex;
flex-direction: row;
position: relative;
}



.portfolio-h32 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 300px;
height: 31px;
left: 0px;
top: 0.33px;
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 31px;
display: flex;
align-items: center;
text-transform: capitalize;
color: var(--color-portfolio-text);
margin-top: 25px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 332px;
height: 31px;
left: 0px;
top: 0.33px;
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 27.8px;
line-height: 31px;
display: flex;
align-items: center;
text-transform: capitalize;
color: var(--color-portfolio-text);
margin-top: 50px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 332px;
height: 31px;
left: 0px;
top: 0.33px;
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 27.8px;
line-height: 31px;
display: flex;
align-items: center;
text-transform: capitalize;
color: var(--color-portfolio-text);
margin-top: 50px;
}
//extra large
width: 332px;
height: 31px;
left: 0px;
top: 0.33px;
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 27.8px;
line-height: 31px;
display: flex;
align-items: center;
text-transform: capitalize;
color: var(--color-portfolio-text);
margin-top: -50px;
}


.arrow-icon2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-size: 20px;
font-weight: 500;
color: #000;
position: absolute;
left: 130px;
top: 30px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-size: 30px;
font-weight: 500;
color: #000;
position: absolute;
left: 190px;
top: 25px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-size: 30px;
font-weight: 500;
color: #000;
position: absolute;
left: 190px;
top: 25px;
}
//extra large
font-size: 30px;
font-weight: 500;
color: #000;
position: absolute;
left: 190px;
top: -50px;
}



.portfolio-p2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 350px;
height: 31px;
left: 0px;
top: 0.33px;
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-align: left;
text-transform: capitalize;
color: var(--color-portfolio-text);
margin-top: 40px;
margin-bottom: 60px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 332px;
height: 31px;
left: 0px;
top: 0.33px;
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-transform: capitalize;
color: var(--color-portfolio-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 332px;
height: 31px;
left: 0px;
top: 0.33px;
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-transform: capitalize;
color: var(--color-portfolio-text);
}
//extra large
width: 332px;
height: 31px;
left: 0px;
top: 0.33px;
font-family: 'Space Mono', monospace;
font-style: normal;
font-size: 16px;
line-height: 25px;
display: flex;
align-items: center;
text-transform: capitalize;
margin-top: 40px;
margin-bottom: 80px;
color: var(--color-portfolio-text);
}


.card-button-cont2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0.218994px 1.46875px 5.78101px 0px;
gap: 6px;
width: 390px;
height: 42.89px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0.218994px 1.46875px 5.78101px 0px;
gap: 6px;
width: 390px;
height: 42.89px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0.218994px 1.46875px 5.78101px 0px;
gap: 6px;
width: 390px;
height: 42.89px;
}
//extra large
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0.218994px 1.46875px 5.78101px 0px;
gap: 6px;
width: 390px;
height: 42.89px;
}



.work-icon {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
box-sizing: border-box;
display: flex;
align-items: center;
border: 1px solid #fff;
border-radius: 50%;
background: #000;
color: #fff;
font-size: 50px;
padding: 10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
box-sizing: border-box;
display: flex;
align-items: center;
border: 1px solid #fff;
border-radius: 50%;
background: #000;
color: #fff;
font-size: 50px;
padding: 10px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
box-sizing: border-box;
display: flex;
align-items: center;
border: 1px solid #fff;
border-radius: 50%;
background: #000;
color: #fff;
font-size: 50px;
padding: 10px;
}
//extra large
box-sizing: border-box;
display: flex;
align-items: center;
border: 1px solid #fff;
border-radius: 50%;
background: #000;
color: #fff;
font-size: 50px;
padding: 10px;
}

