
.card-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 15px;
gap: 11.5px;
width: 300px;
height: 400px;
background: linear-gradient(180deg, rgba(35,37,49,0.5) 0%, rgba(15,15, 24, 0.5) 100%);
border: 1px solid #20222E;
border-radius: 33.87px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 15px;
gap: 11.5px;
width: 450px;
height: 350px;
background: linear-gradient(180deg, rgba(35,37,49,0.5) 0%, rgba(15,15, 24, 0.5) 100%);
border: 1px solid #20222E;
border-radius: 33.87px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 30px;
gap: 23px;
width: 600px;
height: 400px;
background: linear-gradient(180deg, rgba(35,37,49,0.5) 0%, rgba(15,15, 24, 0.5) 100%);
border: 1px solid #20222E;
border-radius: 67.74px;
}
//extra large
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 30px;
gap: 23px;
width: 600px;
height: 400px;
background: linear-gradient(180deg, rgba(35,37,49,0.5) 0%, rgba(15,15, 24, 0.5) 100%);
border: 1px solid #20222E;
border-radius: 67.74px;
}


.card-image {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 300px;
height: 200px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 300px;
height: 200px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 300px;
height: 200px;
}
//extra large
width: 300px;
height: 200px;
}


.card-desc-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 21px;
width: 256px;
height: 73px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 21px;
width: 256px;
height: 73px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 21px;
width: 256px;
height: 73px;
}
//extra large
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 21px;
width: 256px;
height: 73px;
}



.card-desc-h3 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 143px;
height: 28px;
font-family: 'Gotham';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 100%;
letter-spacing: -0.05em;
color: #FFFFFF;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 143px;
height: 28px;
font-family: 'Gotham';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 100%;
letter-spacing: -0.05em;
color: #FFFFFF;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 143px;
height: 28px;
font-family: 'Gotham';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 100%;
letter-spacing: -0.05em;
color: #FFFFFF;
}
//extra large
width: 143px;
height: 28px;
font-family: 'Gotham';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 100%;
letter-spacing: -0.05em;
color: #FFFFFF;
}



.card-tag {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 8px;
gap: 5px;
width: 84px;
height: 24px;
background: #E9DFFC;
border: 1px solid #BE9FF6;
border-radius: 12px;
font-family: 'Gotham';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: -0.05em;
color: #784DC7;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 8px;
gap: 5px;
width: 84px;
height: 24px;
background: #E9DFFC;
border: 1px solid #BE9FF6;
border-radius: 12px;
font-family: 'Gotham';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: -0.05em;
color: #784DC7;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 8px;
gap: 5px;
width: 84px;
height: 24px;
background: #E9DFFC;
border: 1px solid #BE9FF6;
border-radius: 12px;
font-family: 'Gotham';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: -0.05em;
color: #784DC7;
}
//extra large
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 8px;
gap: 5px;
width: 84px;
height: 24px;
background: #E9DFFC;
border: 1px solid #BE9FF6;
border-radius: 12px;
font-family: 'Gotham';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: -0.05em;
color: #784DC7;
}


.card-btn {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
box-sizing: border-box;  
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 5px;
width: 300px;
height: 40px;
background: var(--color-button);
font-family: 'Gotham';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
display: flex;
align-items: center;
letter-spacing: -0.05em;
text-transform: capitalize;
color: #FFFFFF;
border: none;
border-radius: 5px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
box-sizing: border-box;  
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 5px;
width: 300px;
height: 40px;
background: var(--color-button);
font-family: 'Gotham';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
display: flex;
align-items: center;
letter-spacing: -0.05em;
text-transform: capitalize;
color: #FFFFFF;
border: none;
border-radius: 5px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 5px;
width: 300px;
height: 40px;
background: var(--color-button);
font-family: 'Gotham';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
display: flex;
align-items: center;
letter-spacing: -0.05em;
text-transform: capitalize;
color: #FFFFFF;
border: none;
border-radius: 5px;
}
//extra large
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 5px;
width: 300px;
height: 40px;
background: var(--color-button);
font-family: 'Gotham';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
display: flex;
align-items: center;
letter-spacing: -0.05em;
text-transform: capitalize;
color: #FFFFFF;
border: none;
border-radius: 5px;
}


.card-title {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
text-align: center;
color: var(--color-text);
font-family: 'Orbitron', sans-serif;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
text-align: center;
color: var(--color-text);
font-family: 'Orbitron', sans-serif;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
text-align: center;
color: var(--color-text);
font-family: 'Orbitron', sans-serif;
}
//extra large
text-align: center;
color: var(--color-text);
font-family: 'Orbitron', sans-serif;
}




.card-desc {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
text-align: center;
color: var(--color-text);
font-family: 'Space Mono', monospace;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
text-align: center;
color: var(--color-text);
font-family: 'Space Mono', monospace;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
text-align: center;
color: var(--color-text);
font-family: 'Space Mono', monospace;
}
//extra large
text-align: center;
color: var(--color-text);
font-family: 'Space Mono', monospace;
}