.Skills {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 25px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
margin-top: 50px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 100px;
}
//extra large
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 100px;
}

.Skills-row {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 25px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
margin-top: 50px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 100px;
}
//extra large
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 100px;
}



.skills-h3 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
text-align: center;
color: var(--color-text);
font-family: 'Orbitron', sans-serif;
margin-bottom: 35px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
text-align: center;
color: var(--color-text);
font-family: 'Orbitron', sans-serif;
margin-bottom: 35px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
text-align: center;
color: var(--color-text);
font-family: 'Orbitron', sans-serif;
margin-bottom: 70px;
}
//extra large
text-align: center;
color: var(--color-text);
font-family: 'Orbitron', sans-serif;
margin-bottom: 70px;
}


.skills-icon {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 30px;
height: 30px;
color: var(--color-icon);
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 50px;
height: 50px;
color: var(--color-icon);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 80px;
height: 80px;
color: var(--color-icon);
}
//extra large
width: 80px;
height: 80px;
margin-right: 10px;
color: #fff;
}


.skills-cont {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 2rem;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .skills-cont { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1024px) {
  .skills-cont { grid-template-columns: repeat(6, 1fr); }
}


