.contact {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {

}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {

}
//extra large
margin-top: 100px;
margin-bottom: 100px;
}



.contact-h1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 90%;
display: flex;
align-items: center;
justify-content: center;
color: var(--color-text);
margin-bottom: 20px;
text-transform: uppercase;
text-align: center;
line-height: 40px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 90%;
display: flex;
align-items: center;
justify-content: center;
color: var(--color-text);
margin-bottom: 40px;
text-transform: uppercase;
text-align: center;
line-height: 80px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 90%;
display: flex;
align-items: center;
justify-content: center;
color: var(--color-text);
margin-bottom: 40px;
text-transform: uppercase;
text-align: center;
line-height: 120px;
}
//extra large
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 100px;
color: rgba(232,232,232,255);//var(--color-text);
margin-bottom: 40px;
text-transform: uppercase;
text-align: left;
}



.icon-cont{
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {

}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {

}
//extra large
border-radius: 50%;
border: none;//2px solid #3500D3;
width: 100px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}


.contact-icon {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {

}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {

}
//extra large
font-size: 50px;
text-align: center;
color: #e8e8e8 ;
}

.contact-list-cont {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}


.email-text {
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 40px;
color: var(--color-text);

}
