.contact {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {

}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {

}
//extra large
margin-top: 100px;
margin-bottom: 100px;
}



.contact-h1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 90%;
display: flex;
align-items: center;
justify-content: center;
color: var(--color-text);
margin-bottom: 20px;
text-transform: uppercase;
text-align: center;
line-height: 40px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 90%;
display: flex;
align-items: center;
justify-content: center;
color: var(--color-text);
margin-bottom: 40px;
text-transform: uppercase;
text-align: center;
line-height: 80px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 90%;
display: flex;
align-items: center;
justify-content: center;
color: var(--color-text);
margin-bottom: 40px;
text-transform: uppercase;
text-align: center;
line-height: 120px;
}
//extra large
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 100px;
color: var(--color-text);
margin-bottom: 40px;
text-transform: uppercase;
text-align: left;
}




.contact-icon {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-size: 25px;
text-align: center;
color: #e8e8e8 ;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-size: 50px;
text-align: center;
color: #e8e8e8 ;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-size: 50px;
text-align: center;
color: #e8e8e8 ;
}
//extra large
font-size: 50px;
text-align: center;
color: #e8e8e8 ;
}


.contact-list-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}
//extra large
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}


.email-text {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 20px;
color: var(--color-text);
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 40px;
color: var(--color-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 40px;
color: var(--color-text);
}
//extra large
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 40px;
color: var(--color-text);
}


