.footer-basic {
  border-top-style: solid;
}


.footer {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
//extra large
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 60px 0px;
}

 .copyright-1 {
  text-align:center;
  font-size:16px;
  color:var(--color-text);
  font-family: 'Space Mono', monospace;
}

 .copyright-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  font-size:16px;
  color:var(--color-text);
  font-family: 'Space Mono', monospace;
}