
.hero-row {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
margin-top: 80px;
margin-bottom: 40px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
margin-top: 100px;
margin-bottom: 40px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 130px;
margin-bottom: 40px;
}
//extra large
margin-top: 200px;
margin-bottom: 100px;
background: #000;
}


.h-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
//extra large
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}



.hero-h1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
color: #e8e8e8;//var(--color-text);
margin-bottom: 0px;
text-transform: uppercase;
transform: scale(3, 2);
background-color: #ffffff;
background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#000 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #000 2px, #ffffff 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  
  animation: gradient 15s ease infinite;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 3rem;
color: #e8e8e8;//var(--color-text);
margin-bottom: 40px;
text-transform: uppercase;
transform: scale(3, 3);
background-color: #ffffff;
background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#000 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #000 2px, #ffffff 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  
  animation: gradient 15s ease infinite;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 3rem;
color: #e8e8e8;//var(--color-text);
margin-bottom: 40px;
text-transform: uppercase;
transform: scale(4, 4);
background-color: #ffffff;
background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#000 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #000 2px, #ffffff 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  
  animation: gradient 15s ease infinite;
}
//extra large
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 3rem;
color: #e8e8e8;//var(--color-text);
margin-bottom: 40px;
text-transform: uppercase;
transform: scale(7, 5);
background-color: #ffffff;
background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#000 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #000 2px, #ffffff 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




.p_cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 20px;
gap: 0px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column-reverse;
align-items: center;
justify-content: space-between;
margin-top: 50px;
gap: 0px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-top: 50px;
gap: 90px;
}
//extra large
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-top: 50px;
gap: 350px;
}


.hero-h1-1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
margin-top: 20px;
margin-bottom: 40px;
text-transform: uppercase;
transform: scale(3, 2);
text-align: center;
margin-right: 0px;
overflow: hidden;
background-color: #3500D3;
background-image: radial-gradient(#ffffff 0.25px, #3500D3 0.25px);
  background-size: 5px  100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  
  animation: gradient 15s ease infinite;
  
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 3rem;
margin-bottom: 40px;
text-transform: uppercase;
transform: scale(3, 3);
text-align: left;
margin-right: 0px;
overflow: hidden;
background-color: #3500D3;
background-image: radial-gradient(#ffffff 0.25px, #3500D3 0.25px);
  background-size: 5px  100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  
  animation: gradient 15s ease infinite;
  display: none;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 3rem;
margin-bottom: 40px;
text-transform: uppercase;
transform: scale(4, 4);
text-align: left;
margin-right: 100px;
overflow: hidden;
background-color: #3500D3;
background-image: radial-gradient(#ffffff 0.25px, #3500D3 0.25px);
  background-size: 5px  100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  
  animation: gradient 15s ease infinite;
}
//extra large
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 3rem;
margin-bottom: 40px;
text-transform: uppercase;
transform: scale(7, 5);
text-align: left;
margin-right: 190px;
overflow: hidden;
background-color: #3500D3;
background-image: radial-gradient(#ffffff 0.25px, #3500D3 0.25px);
  background-size: 5px  100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.hero-p {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: var(--color-text);
margin-top: 10px;
margin-bottom: 30px;
text-align: center;
width: 350px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 40px;
color: var(--color-text);
margin-top: 40px;
margin-bottom: 80px;
text-align: center;
width: 700px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: var(--color-text);
margin-top: 30px;
margin-bottom: 80px;
text-align: left;
width: 500px;
}
//extra large
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 40px;
color: var(--color-text);
margin-top: 40px;
margin-bottom: 80px;
text-align: left;
width: 700px;
}


