
.Skills{
  height: 700px;
  background: linear-gradient(
    to right,
    #000 0%,
    #000 50%,
    #fff 50%,
    #fff 100%
  );
   display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}


.skills-h1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 90%;
display: flex;
align-items: center;
justify-content: center;
color: var(--color-text);
margin-bottom: 20px;
text-transform: uppercase;
text-align: center;
line-height: 40px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 90%;
display: flex;
align-items: center;
justify-content: center;
color: var(--color-text);
margin-bottom: 40px;
text-transform: uppercase;
text-align: center;
line-height: 80px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 90%;
display: flex;
align-items: center;
justify-content: center;
color: var(--color-text);
margin-bottom: 40px;
text-transform: uppercase;
text-align: center;
line-height: 120px;
}
//extra large
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 100px;
color: var(--color-text);
margin-bottom: 40px;
text-transform: uppercase;
text-align: left;
}




.cont {
  display: flex;
  flex-direction: column;
  position: relative;
 animation: slideInLeft 5s linear infinite;
}



.skill-1 {
 font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 100px;
  color: #000;
margin-bottom: 40px;
text-transform: uppercase;
text-align: left; 
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #000;
  position: absolute;
  right: 0px;
  top: -0px;
  animation: upskill 5s  infinite alternate;
}

.skill-2 {
 font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 100px;
  color: #000;
margin-bottom: 40px;
text-transform: uppercase;
text-align: left; 

}

.skill-3 {
 font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 100px;
  color: #000;
margin-bottom: 40px;
text-transform: uppercase;
text-align: left; 
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #000;
  position: absolute;
  right: 0px;
  top: 0px;
  animation: downskill 5s infinite alternate;
}

@keyframes upskill {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(0, -150px);
  }
}


@keyframes downskill {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(0, 150px);
  }
}




/*--- Scrolling Animation ---*/


@keyframes slideInLeft {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(0);
  }
}






















.vvv {
  text-align: right;

  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  
  -moz-animation: scrolling 30s linear infinite alternate-reverse;
  -webkit-animation: scrolling 30s linear infinite alternate-reverse;
  animation: scrolling 30s linear infinite alternate-reverse;
}


// for Firefox 
@-moz-keyframes scrolling{
    0%{
        transform: translateX(-50%);
    }
   
   100%{
        transform: translateX(50%);
    }
    
}


// for Chrome 
@-webkit-keyframes scrolling{
    0%{
        transform: translateX(-50%);
    }
   
   100%{
        transform: translateX(50%);
    }
    
}


@keyframes scrolling{
    0%{
        transform: translateX(-50%);
    }
   
   100%{
        transform: translateX(50%);
    }
    
}

