.skills {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
margin-top: 50px;
margin-bottom: 100px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
margin-top: 0px;
margin-bottom: 150px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
margin-top: 0px;
margin-bottom: 150px;
}
//extra large
margin-top: 0px;
margin-bottom: 150px;
}



.skill-h1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
color: var(--color-text);
margin-bottom: 40px;
text-transform: uppercase;
text-align: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 60px;
color: var(--color-text);
margin-bottom: 40px;
text-transform: uppercase;
text-align: left;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 80px;
color: var(--color-text);
margin-bottom: 40px;
text-transform: uppercase;
text-align: left;
}
//extra large
font-family: 'Anton', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 100px;
color: var(--color-text);
margin-bottom: 40px;
text-transform: uppercase;
text-align: left;
}


.skill {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 18px;
color: var(--color-text);
margin-bottom: 20px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 30px;
color: var(--color-text);
margin-bottom: 20px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 30px;
color: var(--color-text);
margin-bottom: 20px;
}
//extra large
font-family: 'Space Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 40px;
color: var(--color-text);
margin-bottom: 50px;
display: flex;
justify-content: left;
align-items: center;
}



.skill-cont  {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2rem;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: grid;  
grid-template-columns: repeat(3, 1fr); 
gap: 0.5rem;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
display: grid;  
grid-template-columns: repeat(3, 1fr); 
gap: 3rem;
}
//extra large
display: grid;  
grid-template-columns: repeat(3, 1fr); 
gap: 13rem;
}


.cube {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {

}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {

}
//extra large
color: #3500D3;
}




