

.hero-row {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
margin-top: 25px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
align-items: center;
flex-direction: row;
justify-content: center;
margin-top: 50px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-top: 100px;
}
//extra large
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-top: 100px;
}



//text-align: 
font-family: 'Orbitron', sans-serif;
font-family: 'Space Mono', monospace;

//First
