.hero-row {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {

}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {

}
//extra large

}




//font-family: 'Montserrat', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Space Mono', monospace;
font-family: 'Anton', sans-serif;
                                                
//#bef61f green
//#101011
//#e8e8e8  rgba(232,232,232,255)
//#E63946 orange red
//#282828 grey
//#3500D3 purple