.hero-row {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {

}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {

}
//extra large

}




//font-family: 'Montserrat', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Space Mono', monospace;
font-family: 'Anton', sans-serif;
                                                
 
background-color: #000000;
opacity: 0.8;
background-image: radial-gradient(#ffffff 2px, #000000 2px);
background-size: 40px 40px;